@font-face {
   font-family: champagne;
   src: url("./assets/fonts/ChampagneBold.ttf");
}

body {
   font-family: champagne !important;
   background-color: #f8f9fa;
   background-image: url(http://forums.thesims.com/themes/sims/design/images/bg-light.jpg);
   background-attachment: fixed;
}

.App {
   text-align: center;
}

.App-logo {
   margin-bottom: 50px;
   margin-top: 50px;
}

.App-header {
   /* background-color: #282c34; */
   min-height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

.modal {
   background-color: rgba(1, 1, 1, 0);
   /* 
      fixing conflict between Reactstrap & React-agenda : 
      React-agenda add a background-color #FFF which is unwanted.
  */
}

#column-wrapper {
   margin-top: 50px;
   /* border: solid 1px #343a40; */
}

#column-wrapper div {
   border-radius: 3px;
   border: solid 1px #343a40;
   background-color: #f8f9fa;
}

#column-wrapper p {
   text-align: left;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
